.card {
  background-color: rgb(139, 229, 252);
  display: flex;
  flex-direction: column;
  margin: 20px;
  width: 400px;
  border-radius: 10px;

  img {
    width: 300px;
    margin: auto;
  }
  h2,
  p {
    margin: 10px;
    display: flex;
    justify-content: center;
  }
  a {
    margin: auto;
    /* background-color: rgb(226, 73, 43);
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px; */
  }
}
.reviewstyle {
  background-color: rgb(92, 162, 179);
  margin: 10px;
  border-radius: 10px;
}
